body {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #FAEDDC;
}

h1{
    font-size: 50px;
}

main {
    text-align: center;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #00000068;
    border-radius: 5px;
    background-color: #FAE9D5;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="submit"] {
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #884C41;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #884c41bb;
}

.check{
    width: calc(0% - 10px);
    color: #884C41;
}